*{
    margin: 0;
}

.image{
    width: 100%;
}

.picture{
    display: flex;
    padding: 10px;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.description{
    align-items:center;
    padding: 30px;
    line-height: 1.5;
}

.header h3{
    font-size: 5rem;
}

h3{
    font-size: 2rem;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.darkmode .switch, .lightmode .switch {
    background-color: rgb(199, 199, 199);
    color: black;
}

/************** Dark Mode *******************/

.darkmode *{
    color: white;
    background-color: black;
}

/************** Light Mode ***************/

.lightmode *{
    color: black;
    background-color: #fff;
}